<div class="container">

    <div class="row main-header">
        <div class="col-6 main-header_text">
            <img src="../assets/images/clark-logo.svg" class="main-header_logo-image"> Information Umfrage
           
        </div>
        <div class="col-6 main-header_logo">
            <a href="https://github.com/Abeerasif22/AngularChallenge" data-toggle="tooltip" title="View me on Github">  <img src="../assets/images/github.png" class="main-header_image"></a>
        </div>
    </div>
</div>