
<div class="row">
        <div class="main-start_text col-6">
                <p class="main-start_text-animate">Um Dein persönliches Privathaftpflichtversicherungs-Angebot zu erstellen, benötigen wir noch ein paar Informationen von Dir.</p>
            </div>
                <div class="main-start_image col-6">
                <img class="img-responsive main-start_image-fixed-size" src="../assets/images/Home.png">
                </div>
                </div>

<div class="btn-animate"><a class="btn-animate_link" (click)="navigate()">Start</a></div>